@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>ClientRestaurants</h1>

<table class="table" id="restaurants">

</table>

@section Scripts {
    
    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });


    </script>
}