@page
@model OdeToFood.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>ClientRestaurants</h1>

<table class="table" id="restaurants">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>

    </thead>
    <tbody id="rBody">
        
    </tbody>
</table>

@section Scripts {
    
    <script>
        $(function () {
            $.ajax("/api/restaurants/",
                { method: "get" })
                .then(function (response) {
                    for (var i = 0; i < response.length; i++) {
                        var tb = document.getElementById("rBody");
                        console.log(tb);
                        let row = document.createElement("tr");
                        row.innerHTML = `<tr>
                                        <td>${response[i].name}</td>
                                        <td>${response[i].location}</td>
                                        <td>${response[i].cuisine}</td>
                                     </tr>`
                        tb.appendChild(row);
                    }
                    
                });
        });


    </script>
}